include LICENSE
include requirements.txt
include tox.ini
graft artwork
graft docs
prune docs/_build
graft examples
graft tests
global-exclude *.pyc
# added by check_manifest.py
include code_faster
include pytest.ini
recursive-include src *.cpp
recursive-include src *.java
recursive-include src *.py
